
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* calculator styles */
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#display{
    width: 100%;
    text-align: left;
    padding: 12px;
    border: none;
    font-size: 2rem;
    background-color: hsl(0, 9%, 21%);
    color: hsl(0, 0%, 100%);
}

#calculator {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 0%);
    width: 320px;
    border-radius: 25px;
    overflow: hidden;
    max-width: 320px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    background-color: hsl(0, 9%, 30%); 
    color: hsl(0, 0%, 99%);
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: hsla(0, 0%, 50%)  
}

button:active {
    background-color: hsla(0, 0%, 60%)  
}

.operator-button {
    background-color: hsl(39, 100%, 50%);
}

.operator-button:hover {
    background-color: hsl(39, 100%, 60%);
}

.operator-button:active {
    background-color: hsl(39, 100%, 70%);
}